<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TightSmoke - Home</title>

</head>



        <!--  header-section end  -->

        <div class="main-banner">
    <div class="container banner-content">
        <div class="row">
            <div class="col-md-6 banner-text">
                <h2>Medical Marijuana</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut blanditiis libero quas necessitatibus
                    neque consectetur quia voluptas adipisci numquam accusamus rerum voluptatem fugit vitae impedit,
                    iusto ipsa eos aliquid sit corporis ducimus voluptate eaque! Non similique sit quam dolores
                    delectus. Fuga, ullam cum. Assumenda aliquam sed molestias, repellat numquam quisquam.</p>
            </div>
            <div class="col-md-6">
                <div class="large-img " style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/one.jpg)">

                </div>
                <div class="small-img" style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg)">

                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-img">
        <img src="http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/herb.png" alt="">
    </div>
    
    
    
</div>

<div>
    <div class="container">
        <div class="home-page-first">
            <h2 class="main-page-title">use marijuana to treat<br> health problems</h2>
            <div class="small-imgs">
                <div class="small-img" style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg)"></div>
                <div class="mid-img" style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg);">
                </div>
                <div class="small-img" style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg)"></div>

            </div>
        </div>
    </div>
</div>

<div class="home-product-section">
    <div class="container">
        <div class="home-product-title">
            <h2 class="main-page-title">OUR PRODUCTS</h2>

        </div>
        <div class="row home-product-button-row">
            
            <div class="col-md-3 home-product-button-container">
                <div class="home-product-button">
                    <div class="home-product-button-img"
                        style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg);"></div>
                    <h4>Edibles</h4>
                </div>
            </div>
            <div class="col-md-3 home-product-button-container">
                <div class="home-product-button">
                    <div class="home-product-button-img"
                        style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg);"></div>
                    <h4>CBD World</h4>
                </div>
            </div>
            <div class="col-md-3 home-product-button-container">
                <div class="home-product-button">
                    <div class="home-product-button-img"
                        style="background-image:url(http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg);"></div>
                    <h4>Flowers</h4>
                </div>
            </div>
        </div>
        <div class="row">
          <%@products.each do |item| %>
            <div class="col-md-4 home-product-item-container">
                <div class="home-product-item">
                    <div class="home-product-item-img">
                        <img src="http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/two.jpg" alt="">
                    </div>
                    <div class="home-product-item-text">
                        <h3><%=item.name%> - AAA+</h3>
                        <p>Type: <strong>Indica</strong> CBD:<strong><%=item.cbd%>%</strong> THC:<strong><%=item.thc%>%</strong></p>
                    </div>
                    <div class="home-product-item-bottom-row">
                        <div class="home-product-item-bottom">
                            <h4><%=item.thc%>% THC</h4>
                        </div>

                    </div>

                </div>
            </div>
            <%end%>
        </div>
        <div class="product-more-area">
            <div class="product-more-button">
                    <a href="/shop"><h4>Shop Now</h4></a>
            </div>
        </div>
    </div>
</div>
<div class="home-jumbo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/herb2.png" alt="">
            </div>
            <div class="col-md-6">
                <h1>Deal Of The Day</h1>
                <p>
                    Receive a complimentary TIGHT PACK which will include a one gram preroll, candy, lighter and grinder on any purchase over $150. Terms and Conditions may apply.

                    Also, get free shipping for orders over $150 and  same day delivery for Niagara region and Toronto!
                </p>
                <h3>
                    Don't lose this chance, shop now!
                </h3>
                <div class="tight-button">
                    <a href="/shop"><h2>Shop Now</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="fb-root"></div>


<script>
    (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=205856110142667&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
</script>



    <script>
        $(document).on('change', '#langSel', function () {
        var code = $(this).val();
        window.location.href = "http://dev.pynch.co.zm/tightsmoke/change-lang/"+code ;
    });
    </script>