
<html lang="en">
  <body>
    <div class="bgmain" >
      <div class="container newsbox" style="">
        <h6 style="font-size: 0.8em;text-align: center">Subscribe to get our latest updates!</h6>
        <div class="input-group mb-3" style="width: 20em;margin: auto;margin-top: 1em">
          <input type="text" class="form-control newsletterinput" placeholder="Please enter your email address" aria-label="Please enter your email address" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append" style="">
            <button class="btn  btn-success" type="button" style="width: 20em;margin: auto;background-color: #087f23;color: rgba(0,0,0,0.7);"><b style="color: white">Subscribe now!</b></button>
        </div>
      </div>

      <div class="container item" style="width: 15em">
        <div class="container" style="font-size: 0.5em;position: absolute;line-height: 0em;opacity: 0.8;margin-top: 5em;margin-left: -1em">
          <p style="margin-bottom: 1.3em">THC: 25%</p>
          <p>CBD: 1.2%</p>
        </div>
        <img src="assets/4stars.svg" width="150" style="margin: auto;display: block">
        <img src="assets/brucebanner.svg" width="100" style="margin: auto;display: block;margin-top: 1em">
        <p style="font-size: 0.9em;text-align: center"><b>Bruce Banner - AAAA+</b></p>
        <div class="container">
        <div class="row">
            <div class="coolContainer">
            <p style="font-size: 0.9em;text-align: center"><b><a href="">NOT NOW</a></b></p>
            <p style="font-size: 0.9em;text-align: center"><b><a href="">BUY</a></b></p>
            </div>
        </div>
      </div>
      </div>
    </div>
    <h3 style="font-weight: 500; font-size: 1.3em;text-align: center;opacity: 0.7; margin-top: 1em">Featured Products</h3>

    <div class="container row" style="margin: auto;margin-top: 2em;height: 15em">
      <% @products.first(3).each do |prod|%>
      <div class="col-4" style=";height: 1em">
        
        <img src="assets/bb.svg" height="150em" style="margin: auto;display: block">
        <p style="font-size: 0.8em;text-align: center;opacity: 0.7;margin-top: 0.5em"><%=prod.name%></p>
        <p style="font-size: 0.8em;text-align: center;opacity: 0.7;margin-top: -1em">$<%=prod.price%>/gr</p>
      </div>
      <%end%>
    </div>
    
    <div class="input-group-append" style="">
            <button class="btn  " type="button" style="width: 20em;margin: auto;background-color: #087f23;margin-bottom: 1em;color: rgba(0,0,0,0.7);"><b style="color: white">More Products</b></button>
    </div>
    <div style="background-image: url(https://www.leafbuyer.com/blogs/content/uploads/2019p/05/about-to-roll-a-joint-700px.jpg);background-size: cover;background-position: 80%;height: 20em;margin-top: 1em">
      <div class="container " style="padding-top: 5em">
        <h6 style="font-size: 0.8em;text-align: center;color: white">Subscribe to get our latest updates!</h6>
        <div class="input-group mb-3" style="width: 20em;margin: auto;margin-top: 1em">
          <input type="text" class="form-control newsletterinput" placeholder="Please enter your email address" aria-label="Please enter your email address" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append" style="">
            <button class="btn  btn-success" type="button" style="width: 20em;margin: auto;background-color: #087f23;color: rgba(0,0,0,0.7);"><b style="color: white">Subscribe now!</b></button>
        </div>
      </div>
    </div>
    <div class="home-jumbo-section">
    <div class="container" style="margin-top: 2em;margin-bottom: 2em">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/herb2.png" alt="">
            </div>
            <div class="col-md-6">
                <h1 style="color: #087f23">Deal Of The Day</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at deserunt illum rem. Officiis
                    officia cum illo praesentium deserunt quis incidunt, mollitia, qui eos sed, reiciendis ratione in!
                    Dolor, incidunt fugit voluptates exercitationem culpa blanditiis vitae enim repudiandae at illo odit
                    asperiores iusto tempore necessitatibus sed atque est quas autem!
                </p>
                <h3>
                    Get Up To 70% Off All Sales Are Final
                </h3>
                <div class="input-group-append" style="">
                        <button class="btn  " type="button" style="width: 20em;;background-color: #087f23;margin-bottom: 1em;color: rgba(0,0,0,0.7);margin-top: 1em"><b style="color: white">Shop Now</b></button>
                </div>
            </div>

        </div>

    </div>
</div>
    
  </body>
</html>


