<div class="container">
	<h3>Check your email!</h3>
	<p>Your order has been succesfully placed, you will receive your order confirmation in a few minutes!</p>
</div>
    <div style="background-image: url(https://www.leafbuyer.com/blogs/content/uploads/2019p/05/about-to-roll-a-joint-700px.jpg);background-size: cover;background-position: 80%;height: 20em;margin-top: 1em">
      <div class="container " style="padding-top: 5em">
        <h6 style="font-size: 0.8em;text-align: center;color: white">Subscribe to get our latest updates!</h6>
        <div class="input-group mb-3" style="width: 20em;margin: auto;margin-top: 1em">
          <input type="text" class="form-control newsletterinput" placeholder="Please enter your email address" aria-label="Please enter your email address" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append" style="">
            <button class="btn  btn-success" type="button" style="width: 20em;margin: auto;background-color: #087f23;color: rgba(0,0,0,0.7);"><b style="color: white">Subscribe now!</b></button>
        </div>
      </div>
    </div>

