  <!--  header-section end  -->
<div class="container">
	

        <div class="header-area">
    <div class="header-text-area container">
        <h2 style="margin-top: 1em;text-align: center">Contact Us</h2>
    </div>
</div>
<div class="standard-area contact-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-bullets">
                    <h3><i class="fa fa-envelope-o" aria-hidden="true"></i></h3>
                    <h3>Email Us</h3>
                    <p>info@tightsmoke</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-bullets">
                    <h3><i class="fa fa-phone" aria-hidden="true"></i></h3>
                    <h3>Call Us</h3>
                    <p>+6345671221</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-bullets">
                    <h3><i class="fa fa-map-marker" aria-hidden="true"></i></h3>
                    <h3>Find Us</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-2">
    <div class="container">
        <div class="title-area" style="margin-top: 1em;text-align: center">
            <h4>Contact Us</h4>
            <h2>Drop Us a Message and We shall Get back To You</h2>
        </div>
        <div class="contact-form" style="margin-top: 2em">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Full Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter your full name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter your email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Phone Number</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Subject</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Message</label>
                                <textarea name="" id="" cols="30" rows="10" type="text" class="form-control"
                                    id="exampleFormControlInput1"></textarea>

                            </div>
                        </div>
                    </div>
                     <button class="btn  " type="button" style="width: 20em;;background-color: #087f23;;margin-bottom: 1em;color: rgba(0,0,0,0.7);margin-top: 1em;margin:auto;display: block"><b style="color: white">Send Email</b></button>
                </div>
            </div>

        </div>

    </div>
    
</div>
    
</div>
<div class="corner-leaf" style="margin-bottom: -1em;text-align: end">
        <img src="http://dev.pynch.co.zm/tightsmoke/assets/front/siteimages/corner-leaf.png" alt="Leaf" height="200em">
    </div>
    <div style="background-image: url(https://www.leafbuyer.com/blogs/content/uploads/2019p/05/about-to-roll-a-joint-700px.jpg);background-size: cover;background-position: 80%;height: 20em;margin-top: 1em">
      <div class="container " style="padding-top: 5em">
        <h6 style="font-size: 0.8em;text-align: center;color: white">Subscribe to get our latest updates!</h6>
        <div class="input-group mb-3" style="width: 20em;margin: auto;margin-top: 1em">
          <input type="text" class="form-control newsletterinput" placeholder="Please enter your email address" aria-label="Please enter your email address" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append" style="">
            <button class="btn  btn-success" type="button" style="width: 20em;margin: auto;background-color: #087f23;color: rgba(0,0,0,0.7);"><b style="color: white">Subscribe now!</b></button>
        </div>
      </div>
    </div>
